<a href="https://colab.research.google.com/github/obanlatomiwa/Hamoye-Submissions/blob/master/Hamoye_Stage_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# get data

!wget -O fuel_data.csv  https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv

--2020-07-20 18:05:31--  https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2649320 (2.5M) [text/plain]
Saving to: ‘fuel_data.csv’

fuel_data.csv       100%[===================>]   2.53M  16.7MB/s    in 0.2s

2020-07-20 18:05:32 (16.7 MB/s) - ‘fuel_data.csv’ saved [2649320/2649320]

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
data = pd.read_csv('fuel_data.csv')
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [10]:
# no 3
# Which of the following fuel type code has the lowest average fuel cost per unit burned?

group_by_fuel_type = data[['fuel_type_code_pudl', 'fuel_cost_per_unit_burned']].groupby('fuel_type_code_pudl').mean()
group_by_fuel_type

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                 67.421830
gas                                  13.659397
nuclear                            4955.157002
oil                                 168.877086
other                                18.253856
waste                                19.518122

In [15]:
# no 4
# What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

energy_per_unit = data[['fuel_mmbtu_per_unit']].describe()
energy_per_unit_per

       fuel_mmbtu_per_unit
count         29523.000000
mean              8.492111
std              10.600220
min               0.000001
25%               1.024000
50%               5.762694
75%              17.006000
max             341.260000

In [22]:
# no 5
# What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

fuel_quantity_burned = data[['fuel_qty_burned']]
print('kurtosis:', fuel_quantity_burned.kurtosis().round(2))
print('skew:', fuel_quantity_burned.skew().round(2))

kurtosis: fuel_qty_burned    651.37
dtype: float64
skew: fuel_qty_burned    15.85
dtype: float64

In [26]:
# no 6

# Which feature has missing values and what is the total number of missing 
# value and percentage of the missing rows as a factor of the total number of 
# rows in three decimal places? 

# (Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)


data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [32]:
total_missing = 180
total_rows = data.shape[0]
perentage_missing = round((total_missing / total_rows), 3)
perentage_missing

0.006

In [33]:
# no 8

# Which of the features has the second and third lowest correlation with 
# the Fuel Cost Per Unit Burned?

data.corr(method='pearson')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [36]:
corr = [-0.037863,	0.013599,	-0.018535,	-0.010034,	1.000000,	0.011007,	-0.000437]
sorted(corr)

[-0.037863, -0.018535, -0.010034, -0.000437, 0.011007, 0.013599, 1.0]

In [64]:
# no 9

# For the fuel type coal, what is the percentage change in the 
# fuel cost per unit burned in 1998 compared to 1994?

group_by_type = data[['fuel_type_code_pudl','fuel_cost_per_unit_burned']].groupby('fuel_type_code_pudl').sum()
group_by_type

                     fuel_cost_per_unit_burned
fuel_type_code_pudl
coal                                576254.381
gas                                 156891.829
nuclear                            4053318.428
oil                                1361824.819
other                                 3048.394
waste                                 8607.492

In [66]:
group_by_type = data[['report_year','fuel_cost_per_unit_burned']].groupby('report_year').sum()
group_by_type.head()

             fuel_cost_per_unit_burned
report_year
1994                        263292.115
1995                        425661.488
1996                         86425.275
1997                        163533.452
1998                        140238.656

In [79]:
Total_coal = 576254.381
coal_1998 = 140238.656
coal_1994 = 263292.115

In [80]:
per_coal_1998 = coal_1998 / Total_coal
per_coal_1998

0.2433624118512341

In [81]:
per_coal_1994 = coal_1994 / Total_coal
per_coal_1994

0.4569025827501691

In [82]:
per_change = (coal_1994  - coal_1998  ) / Total_coal
per_change

0.21354017089893498

In [54]:
# no 10

# Which year has the highest average fuel cost per unit delivered?

avg_cost = data[['report_year','fuel_cost_per_unit_delivered']].groupby('report_year').mean()
avg_cost

             fuel_cost_per_unit_delivered
report_year
1994                            63.636060
1995                            32.735269
1996                          9196.705948
1997                         11140.197239
1998                           287.154420
1999                            25.551627
2000                           985.362877
2001                            60.050396
2002                            47.594361
2003                            55.663493
2004                           139.524275
2005                            41.438184
2006                            38.657484
2007                            43.325023
2008                            58.588197
2009                           652.694163
2010                            91.862105
2011                            59.774667
2012                            60.994502
2013                           172.307591
2014                           192.737183
2015                           326.535511
2016                           103.901761
2017                            46.196861
2018                           499.269966